.page {
  background: linear-gradient(
    180deg,
    rgba(255, 120, 240, 0.31) 0%,
    rgba(255, 109, 40, 0.31) 100%
  );
}

.registerContentBox {
  border-radius: 8px;
  background: #fafcf8;
  box-shadow: -1px 4px 13.3px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: clamp(30px, 5vw, 80px);
}

.registerTopBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.icon {
  width: 41px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;

  button, a {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    flex-direction: row;

    button {
      // width: fit-content;
    }
  }
}
